<h1>나만의 웹서비스 아이디어</h1>
<section>
  <h2>맛집 기록 지도</h2>
  <p>
    카테고리를 맛집, 술집, 카페 등으로 원하는대로 나누어 색깔로 다르게 이를
    표시하고 해시태그로 메모하는 기능을 통해 검색을 편하게 할 수 있다. 또한 더
    큰 폴더로는 숙대 맛집, 우리동네 맛집, 어느 지역 여행 맛집 등을 만들어
    친구들과 url로 공유가능하여, 약속을 잡을 때 어디서 무엇을 먹을지 쉽게 정할
    수 있다.
  </p>
  <ul>
    <ol start="1">
      <li>주제선정 동기 : 기존 지도 어플의 불편함 발견</li>
      <li>기대효과 : 자신이 저장해둔 맛집을 보다 쉽게 검색, 공유 가능</li>
      <li>핵심 타겟층 : 맛집 탐방러 등</li>
      <li>
        핵심 기능 : 본인의 메모 검색, 지도에 카테고리별로 표시 가능, 어플 설치
        필요 없이 공유 가능
      </li>
    </ol>
    <h4>
      기존 지도
      <li>
        카카오맵 : 어플 설치 없이는 url로 공유 불가능, 본인의 메모 검색 불가능,
        여러 버전의 지도 구성 불가능(숙대, 우리동네 ...)
      </li>
      <li>
        네이버지도 : 본인의 메모 검색 불가능, 여러 버전의 지도 구성 불가능(숙대,
        우리동네 ...)
      </li>
    </h4>
  </ul>
</section>
